<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyMe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'showpage.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
    </style>
</head>
<body>
    
    
        <div class="containerDist">
            <div class="log-con"><a href="http://127.0.0.1:8000/"><img src="{% static 'Logo.svg' %}" alt="Logo" class="logo"></a></div>
            <div class="dist-con">
                <p class="title">vous suggère les destinations suivantes : </p>
            <div class="distination">
                {% for i, value in values %}
                    <p class="value-distination">{{ i }}- {{ value }}</p>
                {% endfor %}
                
            </div>
            </div>
        </div>
   
</body>
</html>